<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761377918723-vtf0mr6g10q6nvj7kutjurl1vshqseg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761377918723-vtf0mr6g10q6nvj7kutjurl1vshqseg9</string>
	<key>API_KEY</key>
	<string>AIzaSyAUkGMwG1fJA4kOHqc-7iDFk0NBtdllvz8</string>
	<key>GCM_SENDER_ID</key>
	<string>761377918723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.wdigital.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3313e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3313e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761377918723:ios:0e4e65f0ff5364ce</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-3313e.firebaseio.com</string>
</dict>
</plist>